.back {
    width: 600px;
    height: 400px;
    background: url("/Users/dimasaaranin/Desktop/WTII/Lab3/Task10/img/bg.jpg");
    position: relative;
}

div img {
    position: absolute;
}

.asteroid {
    top: 80px;
    right: 110px;
}

.planet1 {
    top: 23px;
    left: 186px;
    z-index: 1;
}

.planet2 {
    top: 66px;
    left: 51px;
    z-index: 2;
}

.planet3 {
    top: 139px;
    left: 145px;
    z-index: 3;
}

.superman { 
    bottom: 0;
    right: 36px;
}

.spaceship {
    top: 155px;
    left: 144px;
    z-index: 2;
}

.ufo {
    top: 293px;
    left: 117px;
    z-index: 4;
}

